include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/detroit_data *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/detroit_data/migration *.ini *.py *.mako
