{% ckan_extends %}

{% block links %}
  <link rel="shortcut icon" href="/favicon.ico" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WXNND1F6LP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WXNND1F6LP');
  </script>
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/theme.css" />
{% endblock %}